<div class="container p-3">
  <h1>Movies Lists</h1>
  <div class="container cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path("https://source.unsplash.com/1600x900/?#{list.name}") %>)">
        <%= link_to list_path(list) do %>
          <%= list.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
