<h1>Add a new list</h1>

<div class="container">
  <%# <h1>Spawn a Monster</h1> %>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%# <%= f.input :image_url %>
    <%= f.submit 'Add', class: 'btn btn-primary' %>
  <% end %>
</div>
